{% extends "base.html" %}

{% block content %}
    <h1>{{ level.title }}
        {% if request.user == level.author %}
            <a href="{% url "change_level" slug=level.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
    </h1>
    {% comment %}
    {{ level.render_labyrinth }}
    {% endcomment %}
    <script>
        var labyrinth = JSON.parse('{{ level.render_labyrinth_json }}');
    </script>

    <canvas id="gameCanvas"></canvas>
{% endblock %}

{% block extrabody %}
    <script src="{{ STATIC_URL }}site/js/cocos2d-js-v3.6-min.js" charset="UTF-8"></script>
    <script>
        var STATIC_URL = '{{ STATIC_URL }}';
        var KEY_LEFT_CODE = 37;
        var KEY_RIGHT_CODE = 39;
        var KEY_UP_CODE = 38;
        var KEY_DOWN_CODE = 40;
        var TILE_SIZE = 35;
        var level_title = '{{ level.title }}';
        var sprites = {
            '#': STATIC_URL + 'site/img/brick.png',
            '*': STATIC_URL + 'site/img/collectable.png',
            'e': STATIC_URL + 'site/img/exit.png',
            'p': STATIC_URL + 'site/img/player.png'
        };
        var player_position;
        var player_sprite;
        var collectables_positions = [];
        var collectables_sprites = [];
    </script>
    <script src="{{ STATIC_URL }}site/js/main.js"></script>
{% endblock %}